name: Docker images building

on:
  workflow_dispatch:
    inputs:
      name:
        type: choice
        required: true
        description: Image to build
        options:
          # BEGIN IMAGE OPTIONS
        - osslsigncode
        - nginx-module-stream-sts
        - aws-cli
        - nginx-f1
        - remmina
        - cicd
        - tgenv-tfenv
        - linkhub
        - ubuntu-ssh-server
        - toolbox
        - mms-monitoring-agent
        - pac
        - ubuntu-toolbox
        - base-generic
        - jdk-base
        - ubuntu-k8s
        - ubuntu-ssh
          # END IMAGE OPTIONS

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - name: Install just
        run: |
          curl -fsSL https://just.systems/install.sh | bash -s -- --to /usr/local/bin
          just --version
      - name: Image name
        run: echo "IMAGE=${{ github.event.inputs.name }}"
      - name: Build image
        run: just container ${{ github.event.inputs.name }}
      - name: Login registry
        run: docker login -u ${{ secrets.CI_USER }} -p ${{ secrets.CI_PWD }}
      - name: Push image
        run: just push ${{ github.event.inputs.name }}
